<div class='posts'>
<% last = 0 %>
<% @posts.each do |post| %>
    <div class='post <%= post['type'] %>'>
        <% if last != post['date'].strftime('%j') then %>
            <div class='date'>
                <div class='dayofweek'><%= post['date'].strftime('%a') %></div>
                <div class='dayofmonth'><%= post['date'].strftime('%d') %></div>
                <div class='month'><%= post['date'].strftime('%b') %></div>
            </div>
        <% end %>
        <% case post['type']
        when 'text' %>
            <h2><a href='<%= post['link'] %>'><%= post['title'] %></a></h3>
            <p><%= post['content'] %></p>
        <% when 'image' %>
            <a href='<%= post['link'] %>'>
                <img src='<%= post['image'] %>' />
                <span><%= post['title'] %></span>
            </a>
        <% end %>
    </div>
    <% last = post['date'].strftime('%j') %>
<% end %>
</div>
